name: Hello World

on: [workflow_dispatch] # Allows the workflow to be triggered manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print a greeting
        run: echo "Hello World!"
